/cursoEmVideoJava/DataEHora/build/
/cursoEmVideoJava/DataEHora/nbproject/private/
/cursoEmVideoJava/IdiomaDoSistema/build/
/cursoEmVideoJava/IdiomaDoSistema/nbproject/private/
/cursoEmVideoJava/PrimeiroPrograma/build/
/cursoEmVideoJava/PrimeiroPrograma/nbproject/private/
/cursoEmVideoJava/ResolucaoDeTela/build/
/cursoEmVideoJava/ResolucaoDeTela/nbproject/private/
/escola/Lista01/nbproject/private/
/escola/Lista01/build/
/cursoEmVideoJava/desafios/DataEHora/build/
/cursoEmVideoJava/desafios/DataEHora/nbproject/private/
/cursoEmVideoJava/desafios/IdiomaDoSistema/build/
/cursoEmVideoJava/desafios/IdiomaDoSistema/nbproject/private/
/cursoEmVideoJava/desafios/PrimeiroPrograma/build/
/cursoEmVideoJava/desafios/PrimeiroPrograma/nbproject/private/
/cursoEmVideoJava/desafios/ResolucaoDeTela/build/
/cursoEmVideoJava/desafios/ResolucaoDeTela/nbproject/private/
/escola/olaMundoSwing/nbproject/private/
/escola/olaMundoSwing/build/
/escola/Lista02/SGFrotas/nbproject/private/
/escola/Lista02/SGFrotas01/nbproject/private/
/escola/Lista02/SGFrotas01/build/
/escola/Lista02/AutomacaoResidencial/nbproject/private/
/escola/Lista02/AutomacaoResidencial/build/
/escola/Lista02/Placar/nbproject/private/
/escola/Lista02/PlacarDigital/nbproject/private/
/escola/Lista02/PlacarDigital/build/
/escola/Lista02/Geometrico/nbproject/private/
/escola/Lista02/Geometrico/build/
/escola/Lista02/Setor RH/nbproject/private/
/escola/Lista02/Setor RH/build/
/escola/Lista02/Cambio/nbproject/private/
/escola/Lista02/Cambio/build/
