/cursoEmVideoJava/DataEHora/build/
/cursoEmVideoJava/DataEHora/nbproject/private/
/cursoEmVideoJava/IdiomaDoSistema/build/
/cursoEmVideoJava/IdiomaDoSistema/nbproject/private/
/cursoEmVideoJava/PrimeiroPrograma/build/
/cursoEmVideoJava/PrimeiroPrograma/nbproject/private/
/cursoEmVideoJava/ResolucaoDeTela/build/
/cursoEmVideoJava/ResolucaoDeTela/nbproject/private/
/escola/Lista01/nbproject/private/
/escola/Lista01/build/
