/cursoEmVideoJava/DataEHora/build/
/cursoEmVideoJava/DataEHora/nbproject/private/
/cursoEmVideoJava/IdiomaDoSistema/build/
/cursoEmVideoJava/IdiomaDoSistema/nbproject/private/
/cursoEmVideoJava/PrimeiroPrograma/build/
/cursoEmVideoJava/PrimeiroPrograma/nbproject/private/
/cursoEmVideoJava/ResolucaoDeTela/build/
/cursoEmVideoJava/ResolucaoDeTela/nbproject/private/
/escola/Lista01/nbproject/private/
/escola/Lista01/build/
/cursoEmVideoJava/desafios/DataEHora/build/
/cursoEmVideoJava/desafios/DataEHora/nbproject/private/
/cursoEmVideoJava/desafios/IdiomaDoSistema/build/
/cursoEmVideoJava/desafios/IdiomaDoSistema/nbproject/private/
/cursoEmVideoJava/desafios/PrimeiroPrograma/build/
/cursoEmVideoJava/desafios/PrimeiroPrograma/nbproject/private/
/cursoEmVideoJava/desafios/ResolucaoDeTela/build/
/cursoEmVideoJava/desafios/ResolucaoDeTela/nbproject/private/
/escola/olaMundoSwing/nbproject/private/
/escola/olaMundoSwing/build/
/escola/Lista02/SGFrotas/nbproject/private/
/escola/Lista02/SGFrotas01/nbproject/private/
/escola/Lista02/SGFrotas01/build/
/escola/Lista02/AutomacaoResidencial/nbproject/private/
/escola/Lista02/AutomacaoResidencial/build/
/escola/Lista02/Placar/nbproject/private/
/escola/Lista02/PlacarDigital/nbproject/private/
/escola/Lista02/PlacarDigital/build/
/escola/Lista02/Geometrico/nbproject/private/
/escola/Lista02/Geometrico/build/
/escola/Lista02/Setor RH/nbproject/private/
/escola/Lista02/Setor RH/build/
/escola/Lista02/Cambio/nbproject/private/
/escola/Lista02/Cambio/build/
/escola/Lista02/SistemaAcademico07/nbproject/private/
/escola/Lista02/SistemaAcademico07/build/
/escola/Lista02/Banco08/nbproject/private/
/escola/Lista02/Banco08/build/
/escola/Lista02/Biblioteca09/nbproject/private/
/escola/Lista02/Biblioteca09/build/
/escola/Lista02/Meteorologia10/nbproject/private/
/escola/Lista02/Meteorologia10/build/
/cursoEmVideoJava/desafios/SuperCalculadora/target/
/cursoEmVideoJava/desafios/Aula 09/JavaApplication3/nbproject/private/
/cursoEmVideoJava/desafios/Aula 09/Media/nbproject/private/
/cursoEmVideoJava/desafios/Aula 09/Media/build/
/cursoEmVideoJava/desafios/Aula 09/ProgramaIdade/nbproject/private/
/cursoEmVideoJava/desafios/Aula 09/ProgramaIdade/build/
/cursoEmVideoJava/desafios/Aula 09/ProgramaParImparSwing/nbproject/private/
/cursoEmVideoJava/desafios/Aula 09/ProgramaParImparSwing/build/
/cursoEmVideoJava/desafios/Aula 09/CalcularDelta/nbproject/private/
/cursoEmVideoJava/desafios/Aula 09/CalcularDelta/build/
/cursoEmVideoJava/desafios/Aula 10/VotacaoSwing/nbproject/private/
/cursoEmVideoJava/desafios/Aula 10/VotacaoSwing/build/
/cursoEmVideoJava/desafios/Aula 10/ProgramaPernas/nbproject/private/
/cursoEmVideoJava/desafios/Aula 10/ProgramaPernas/build/
/cursoEmVideoJava/desafios/Aula 10/exerc/TipoDeTriangulo/nbproject/private/
/cursoEmVideoJava/desafios/Aula 10/exerc/TipoDeTriangulo/build/
/escola/revisaoPreUnidadeII/EmprestimoAutomotivo/nbproject/private/
/escola/revisaoPreUnidadeII/EmprestimoAutomotivo/build/
/escola/revisaoPreUnidadeII/revPOO/nbproject/private/
/escola/Provas/Prova Unidade 01/build/
/escola/Provas/Prova Unidade 01/nbproject/private/
/escola/Lista02/AutomacaoResidencial02/nbproject/private/
/escola/Lista02/AutomacaoResidencial02/build/
/escola/Lista02/PlacarDigital03/nbproject/private/
/escola/Lista02/PlacarDigital03/build/
/escola/Lista02/Geometrico04/nbproject/private/
/escola/Lista02/Geometrico04/build/
/escola/Lista02/SetorRH05/nbproject/private/
/escola/Lista02/SetorRH05/build/
/escola/Lista02/Cambio06/nbproject/private/
/escola/Lista02/Cambio06/build/
/escola/revisaoPreUnidadeII/ValidacaoString11/nbproject/private/
/escola/revisaoPreUnidadeII/ValidacaoString11/build/
/escola/revisaoPreUnidadeII/Vendas12/nbproject/private/
/escola/revisaoPreUnidadeII/Vendas12/build/
/escola/revisaoPreUnidadeII/DataCenterTemp13/nbproject/private/
/escola/revisaoPreUnidadeII/DataCenterTemp13/build/
/escola/revisaoPreUnidadeII/Mercearia14/nbproject/private/
/escola/revisaoPreUnidadeII/Mercearia14/build/
/escola/revisaoPreUnidadeII/Combustivel15/nbproject/private/
/escola/revisaoPreUnidadeII/Combustivel15/build/
/escola/revisaoPreUnidadeII/Aula04/nbproject/private/
/escola/revisaoPreUnidadeII/Aula04/build/
/cursoEmVideoJavaPOO/aula05exemploPraticoBanco/Aula05TentativaDireto/nbproject/private/
/escola/Lista03/Contagem01/nbproject/private/
/escola/Lista03/Contagem01/build/
/escola/Lista03/PlanoCartesiano02/nbproject/private/
/escola/Lista03/PlanoCartesiano02/build/
/escola/Lista04/Consultório Médico 01/nbproject/private/
/escola/Lista04/Consultório Médico 01/build/
/cursoEmVideoJavaPOO/aula07exemploPraticoUEC/nbproject/private/
/cursoEmVideoJavaPOO/aula06encapsulamentoPratica/nbproject/private/
/cursoEmVideoJavaPOO/aula06encapsulamentoPratica/build/
/cursoEmVideoJavaPOO/aula07exemploPraticoUEC/build/
